
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^projet\.krissclotilde\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.projet\.krissclotilde\.com$
RewriteRule ^/?$ "https\:\/\/projet\.krissclotilde\.com\/" [R=301,L]

